/* style selector */

/* class selector */
.row {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.flex-button {
  justify-content: flex-end;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.flex-column {
  flex-direction: column;
}

.column-third {
  width: calc(100% / 3);
}

.column-half {
  width: 50%;
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.container {
  width: 60%;
}

.text-center {
  text-align: center;
}

.margin-0 {
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .column-third {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .column-third {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .flex-button {
    justify-content: center;
  }
}
