/* style selector */

* {
  font-family: Inter, sans-serif;
}

header {
  background-color: #54bb5b;
  position: sticky;
}

form {
  display: inline-block;
}

input {
  outline: none;
  font-size: 16px;
}

/* class selector */
.header-logo {
  font-size: 20px;
}

.header-height {
  height: 60px;
}

.hero-img {
  object-fit: cover;
  width: 1000px;
  height: 200px;
  filter: saturate(70%);
  filter: brightness(70%);
}

.margin-bot-thirty {
  margin-bottom: 30px;
}

.margin-bot-fifteen {
  margin-bottom: 15px;
}

.search-bar {
  border: none;
  border-radius: 25px;
  height: 35px;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
}

.search-bar:focus {
  outline-width: none;
}

.text-white {
  color: white;
}

.search-bar-title {
  font-size: 32px;
  margin: 30px 0;
}

.div-bar {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
}

.div-text {
  margin: 0;
  font-weight: 200;
}

.recipe-img {
  width: 95%;
}

.recipe-name {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.info-button {
  border-radius: 25px;
  background-color: #54bb5b;
  font-size: 14px;
  border: none;
  width: 75%;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .margin-bot-fifteen {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-img {
    height: 250px;
  }
}
